.navbar-container {
    position: fixed; /* Fijo en la página */
    top: 15px; /* Ajusta según sea necesario */
    left: 50%; /* Centra horizontalmente en la página */
    transform: translateX(-50%); /* Centra horizontalmente en la página */
    background-color: white; /* Fondo blanco */
    padding: 10px 10px; /* Reduce el padding arriba y abajo */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para un efecto visual atractivo */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    width: fit-content; /* Ajusta el ancho para que se ajuste al contenido */
    max-width: 90%; /* Opcional: asegura que no sea demasiado ancho en pantallas grandes */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0; /* Elimina padding para que el contenedor controle el espacio */
    display: flex; /* Hace que los elementos de la lista se muestren en línea */
    justify-content: center; /* Centra los elementos horizontalmente */
}

.navbar li {
    margin-left: 25px; /* Reduce el espaciado entre los elementos */
    margin-right: 25px;
}

.navbar img {
    width: 40px; /* Ajusta el tamaño de las imágenes */
    height: auto;
    transition: transform 0.4s, filter 0.3s; /* Agrega transición para suavizar el cambio */
}

.navbar img:hover {
    transform: scale(1.4); 
    filter: hue-rotate(180deg);
}
