/* Estilos para la página en general */
body {
    background-color: white;
    margin: 0;
    padding: 0;
}

.App {
    position: relative; /* Establece el posicionamiento relativo */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circles-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px; /* Ajusta la altura a 700px */
    z-index: -1; /* MovingCircles debe estar detrás de la HeroSection */
}
